<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <% include ../include/baseLink %>
    <script type="text/javascript">
    </script>
</head>
<body>
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="/back/include/main_demo.html" target="mainFrame">demo页</a></h2>
    <ul class="sub-menus">
        <li>
            <dl>
                <dt class="subparent">会所管理</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="/back/toSalon"  target="mainFrame" class="active">会所管理</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">在线统计</dt>
                <dd><a href="#">流量统计</a></dd>
                <dd><a href="#">销售额统计</a></dd>
            </dl>
        </li>
    </ul>
</aside>
</body>
</html>

