<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>测试 angular-mongoose</title>
	<script type="text/javascript" src="../plugin/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../plugin/angular/angular.js"></script>
	<script type="text/javascript" src="/angular-mongose/test/dist/index.js"></script>
	<style>
		ul {list-style-type: none }
		ul li span {margin-right: 100px;width: 150px;text-align: center;}
	</style>
</head>
<body ng-controller="main">
	测试
	<ul>
		<li ng-repeat="salon in salonDao.$array">
			<span>序号:{{$index  + 1}}</span>
			<span>会所名:{{ salon.title }}</span>
			<span>会所QQ:{{ salon.qq }}</span>
			<span>创建日期:{{ salon.creatTime | date:'yyyy-MM-dd' }}</span>
			<span>删除 修改</span>
		</li>
	</ul>

	<hr>
	
	<ul>
		<li><a href="" ng-click="salonDao.$setCurPage(1)">1</a></li>
		<li><a href="" ng-click="salonDao.$setCurPage(2)">2</a></li>
		<li><a href="" ng-click="salonDao.$setCurPage(3)">3</a></li>
		<li><a href="" ng-click="salonDao.$setCurPage(4)">4</a></li>
		<li><a href="" ng-click="salonDao.$setCurPage(5)">5</a></li>
		<li><a href="" ng-click="salonDao.$setCurPage(6)">6</a></li>
	</ul>


	<p>
	分页大小<input type="salonDao.$pagingInfo.pageSize" 
			  style="width:50px;" 
			  value="{{ salonDao.$pagingInfo.pageSize }}">  
	<input type="salonDao.$pagingInfo.curPage"
			  style="width:50px;"
			  value="{{ salonDao.$pagingInfo.curPage }}">/{{ salonDao.$pagingInfo.allPage }}</p>

	  <hr>
	  <div ng-controller="UibPaginationController">
	  	<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	  </div>
</body>
</html>