<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-controller="test_control">
<h1>作者信息录入</h1>
<table>
    <tr>
        <td>姓名:</td>
        <td><input  ng-model="person.name" type="text"/></td>
        <td>年龄:</td>
        <td><input  ng-model="person.age" type="text"/></td>
        <td colspan="2">
            <input type="button" ng-click="subForm();" value="提交"/>
        </td>
    </tr>
</table>
<h1>信息列表</h1>
姓名: <input type="text" ng-model="query.$$_name"/>
年龄: <input type="text" ng-model="query.$gt_age"/><input type="text" ng-model="query.$gg_age"/>
<button ng-click="search()">查询</button>
<hr/>
<table width="400px" style="text-align: center;">
    <tr>
        <th width="25%">ID</th>
        <th width="25%">姓名</th>
        <th width="15%">年龄</th>
        <th width="30%">操作</th>
    </tr>
    <tr ng-repeat="per in persons.$array"
        ng-class="'slide-left'" >
        <td>{{ $index+1 }}</td>
        <td>{{ per.name }}</td>
        <td>{{ per.age }}</td>
        <td>
            <button ng-click="update(per);">更新</button>
            <button ng-click="persons.$remove(per)">删除</button>
        </td>
    </tr>
</table>
<div class="page">
                        <span><a ng-show="persons.$last"
                                 ng-click="persons.$toLast();">上一页</a></span>
                        <span><a ng-show="persons.$next"
                                 ng-click="persons.$toNext();">下一页</a></span>
                        <span>
                            <a>{{ persons.$curPage }}/{{ persons.$pageCount }}</a>
                        </span>
    <span> <a>活动:{{ persons.$totalSize }}</a></span>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/front/resource/css/ng-animation.css"/>
<script type="text/javascript" src="/lib/angular/angular.js"></script>

<script type="text/javascript" src="/front/dist/test.js"></script>

</html>