<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>



	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



	<title>在线留言</title>



	<style type="text/css">



		*{ margin:0; padding:0;}



		body{ font-size:12px;}



		.lydiv{ border-bottom:#e9e9e9 solid 1px; margin-bottom:10px; padding-bottom:10px;}



		.lytitle{ height:30px; background:#000; line-height:30px; font-size:14px; font-weight:bold; color:#FFF; padding-left:7px;}



		.lycontent{ padding:10px; line-height:25px;}



		.lycontent strong { font-weight:normal; font-size:14px; color:#2953a6;}



		.lyhf{ padding:10px; border:1px solid #EFEFEF; width:95%; background:#FAFAFA; margin:0 auto;}



		.lyhf div{ line-height:25px; color:#bd7f00;}







		.lyform{ border:#f8f8f8 solid 1px; width:98%; margin:0 auto; margin-top:30px;}



		.lyformtitle{ height:30px; background:#f8f8f8; line-height:30px; font-size:14px; font-weight:bold; color:#000; padding-left:7px;}



		.lyformcontent{ padding:10px;}



		.lyformcontent td{ height:30px;}



		td .txt{ width:100px; border:#000 solid 1px; height:20px; line-height:20px;}



		td #diqu{ width:230px; border:#000 solid 1px; height:20px; line-height:20px;}



		td #content{ width:465px; height:101px; border:#000 solid 1px; line-height:20px;}



		td.sub div{ padding:10px 10px 10px 80px;}



		#message{height:560px; overflow:hidden; margin:0px auto; background-color:#fff; width:98%}



		#message .one{border:1px solid #919594; margin-bottom:10px;}



		#message .user{line-height:35px; background-color:#ffffdb; color:#0240c5; padding:0px 15px; font-weight:bold; text-align:right;}



		#message .say{line-height:20px; padding:5px 15px; margin-bottom:15px; color:#333; background-color:#fff;}



	</style></head>



<body>



<div id="message">



	<div id="message1">



		<div class="lydiv">
			<div class="lycontent"><strong>胡哥尾数8697客</strong></div>
			<div class="lyhf">
				<div>加了微信找到爱妃楼这家来消费没有失望，诚信为本，实力铸造。好玩好吃好住的地方。下次邀请好友一起来分享</div>
			</div>
		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>用户名李生尾数6692客户</strong></div>



			<div class="lyhf">



				<div>福田是娱乐的地方，这家桑拿酒店服务从1100到1800都有服务，跟东莞差不多，下次再来</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>赵生尾数9958客户</strong></div>



			<div class="lyhf">



				<div>开车几分钟就到了，就在市中心。酒店环境舒适，值得推荐，是休闲散心的好去处！</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>李生3978尾数客户</strong></div>



			<div class="lyhf">



				<div>本次体念皇家一号桑拿感觉比前几家更上一层，不管是服务-JS质量价钱，都达到满意，玩开心了，谢谢</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>黄生7616尾数客户</strong></div>



			<div class="lyhf">



				<div>
					<p>我是比较挑的，每次和兄弟过来都得跳上一两个小时，经理有耐心，都让我们挑的满意为止。值得推荐的场子。</p>
					<p>这家酒店服务比较好，也经常过去那边，常去的酒店，JS数量很多，质量很好。经理安排的也很实在，热情，安排也到位，每次去都很好，力顶！</p>
				</div>



			</div>



		</div>















	</div>
	<div id="message2">



		<div class="lydiv">







			<div class="lycontent"><strong>胡哥尾数8697客</strong></div>



			<div class="lyhf">



				<div>加了微信找到爱妃楼这家来消费没有失望，诚信为本，实力铸造。好玩好吃好住的地方。下次邀请好友一起来分享</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>用户名李生尾数6692客户</strong></div>



			<div class="lyhf">



				<div>福田是娱乐的地方，这家桑拿酒店服务从1100到1800都有服务，跟东莞差不多，下次再来</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>赵生尾数9958客户</strong></div>



			<div class="lyhf">



				<div>开车几分钟就到了，就在市中心。酒店环境舒适，值得推荐，是休闲散心的好去处！</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>李生3978尾数客户</strong></div>



			<div class="lyhf">



				<div>本次体念皇家一号桑拿感觉比前几家更上一层，不管是服务-JS质量价钱，都达到满意，玩开心了，谢谢</div>



			</div>



		</div>















		<div class="lydiv">







			<div class="lycontent"><strong>黄生7616尾数客户</strong></div>



			<div class="lyhf">



				<div>
					<p>我是比较挑的，每次和兄弟过来都得跳上一两个小时，经理有耐心，都让我们挑的满意为止。值得推荐的场子。</p>
					<p>这家酒店服务比较好，也经常过去那边，常去的酒店，JS数量很多，质量很好。经理安排的也很实在，热情，安排也到位，每次去都很好，力顶！</p>
				</div>



			</div>



		</div>















	</div>



</div>



<div id="subly" style="text-align:center;">







</div>



<div class="lyform" id="lyform" style="display:none;">



	<div class="lyformtitle">添加留言 </div>



	<div class="lyformcontent">



		<div>



			<form action="http://www.jianktuan.com/hls/liuyan.asp" method="post">



				<input value="zheshiliuyande" name="huifu" id="add" type="hidden">



				<table border="0" cellpadding="0" cellspacing="0" width="100%">



					<tbody><tr>



						<td width="80">昵称：</td><td><input name="title" id="nicheng" class="txt" type="text"> * </td>



					</tr>



					<tr>



						<td>性别：</td><td><input name="address" id="sex" value="1" checked="checked" type="radio"> 男 <input name="address" id="sex" value="2" type="radio"> 女</td>



					</tr>



					<tr>



						<td>联系电话：</td><td><input name="tel" id="zhiye" class="txt" type="text"></td>



					</tr>



					<tr>



						<td>留言内容：</td><td><textarea name="intro" id="content"></textarea> * </td>



					</tr>



					<tr>



						<td colspan="2" class="sub"><div><input value="提交留言" type="submit"> &nbsp;&nbsp;&nbsp;&nbsp;（注：*号为必填项）&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:if(confirm('http://www.jianktuan.com/hls/index.asp%20%20\n\n%E8%AF%A5%E6%96%87%E4%BB%B6%E6%97%A0%E6%B3%95%E7%94%A8%20Teleport%20Ultra%20%E4%B8%8B%E8%BD%BD,%20%E5%9B%A0%E4%B8%BA%20%E6%9C%8D%E5%8A%A1%E5%99%A8%E6%8A%A5%E5%91%8A%E8%AF%A5%E6%96%87%E4%BB%B6%E6%9C%AA%E6%89%BE%E5%88%B0%E3%80%82%20%20\n\n%E4%BD%A0%E6%83%B3%E5%9C%A8%E6%9C%8D%E5%8A%A1%E5%99%A8%E4%B8%8A%E6%89%93%E5%BC%80%E5%AE%83?'))window.location='http://www.jianktuan.com/hls/index.asp'" tppabs="http://www.jianktuan.com/hls/index.asp" style="color:#000; font-size:14px;">&lt;&lt;返回留言列表</a></div></td>



					</tr>



					</tbody></table>



			</form>



		</div>



	</div>



</div>



<script type="text/javascript">



	document.getElementById("subly").onclick = function(){



		document.getElementById("message").style.display = "none";



		document.getElementById("subly").style.display = "none";



		document.getElementById("lyform").style.display = "block";



		return false;



	}







	var speed=30;



	var message = document.getElementById('message');



	var message1 = document.getElementById('message1');



	var message2 = document.getElementById('message2');



	message2.innerHTML=message1.innerHTML;



	function Marquee1(){



		if(message2.offsetTop-message.scrollTop<=0){



			message.scrollTop-=message1.offsetHeight;



		} else {



			message.scrollTop++;



		}



	}



	var MyMar1=setInterval(Marquee1,speed);



	message.onmouseover=function() {clearInterval(MyMar1)}



	message.onmouseout=function(){MyMar1=setInterval(Marquee1,speed)}



</script>



















</body></html>